<div class="row p-3">
  <div  class="col-11">
    <h5>Buscar:</h5>
    <input type="text"
      class="form-control"
      placeholder="Buscar gifs..."
      (keyup.enter)="searchTag()"
      #txtTagInput
    >
  </div>
  <div  class="col-1">
    <img src="../../../../assets/logotipo.png"
          alt="Daltonario Logo"
          style="height: 11vh;"
    >
  </div>
</div>

<div ><h1>{{palabra | titlecase}}</h1></div>
<hr class="text-black">
<div>
  <h4>Definición</h4>

  <div [ngSwitch]="palabra.toLowerCase()">
    <p *ngSwitchCase="'pollo'">Pollo es el nombre que reciben las crías de las gallinas y de otras aves</p>
    <p *ngSwitchCase="'pato'">Ave palmípeda acuática, con el pico aplanado y patas cortas, con dedos unidos entre sí por una membrana, de la cual existen varias especies, algunas de ellas domésticas. Usado en masculino referido a la especie.</p>
    <p *ngSwitchCase="'galleta'"> Pasta compuesta de harina, azúcar y a veces huevo, manteca o confituras diversas, que, dividida en trozos pequeños y moldeados o modelados en forma varia, se cuece al horno</p>
    <p *ngSwitchCase="'carro'">El estado es inactivo</p>
    <p *ngSwitchCase="'gato'">Vehículo o armazón con ruedas que se emplea para transportar objetos diversos, como el cesto de la compra, libros, comida, equipaje, etcétera</p>
    <p *ngSwitchCase="'mover'">Hacer que un cuerpo deje el lugar o espacio que ocupa y pase a ocupar otro. Usado también como pronominal</p>
    <p *ngSwitchCase="'circuito'">Conjunto de dispositivos conectados entre sí para la circulación de una corriente eléctrica</p>
    <p *ngSwitchCase="'libro'">Objeto compuesto por hojas encuadernadas con información, historias o conocimientos escritos</p>
    <p *ngSwitchCase="'montaña'">Elevación natural del terreno con gran altura sobre el nivel circundante</p>
    <p *ngSwitchCase="'televisor'">Dispositivo electrónico que transmite imágenes y sonidos a través de ondas electromagnéticas</p>
    <p *ngSwitchCase="'telescopio'">Instrumento óptico que permite observar objetos lejanos ampliando su tamaño aparente</p>
    <p *ngSwitchCase="'almohada'">Cojín, generalmente rectangular, utilizado para apoyar la cabeza al dormir</p>
    <p *ngSwitchCase="'bicicleta'">Vehículo de dos ruedas propulsado por pedales, generalmente impulsado por el esfuerzo humano</p>
    <p *ngSwitchCase="'computadora'">Máquina electrónica que procesa datos para realizar diversas tareas</p>
    <p *ngSwitchCase="'río'">Corriente de agua continua y más o menos caudalosa que va a desembocar en otra, en un lago o en el mar</p>
    <p *ngSwitchCase="'avión'">Aparato más pesado que el aire, provisto de alas y de motores que le permiten volar</p>
    <p *ngSwitchCase="'playa'">Franja de tierra cubierta de arena, junto al mar, un lago o un río</p>
    <p *ngSwitchCase="'teléfono'">Dispositivo de comunicación que permite la transmisión de voz a larga distancia</p>
    <p *ngSwitchCase="'jardín'">Área cultivada con plantas, flores y/o vegetales, generalmente al aire libre</p>
    <p *ngSwitchCase="'silla'">Asiento con respaldo, por lo general para una persona</p>
    <p *ngSwitchCase="'canción'">Composición musical con letras, generalmente cantada</p>
    <p *ngSwitchCase="'reloj'">Instrumento para medir el tiempo, que puede llevarse en la muñeca o estar en una pared</p>
    <p *ngSwitchCase="'futuro'">Tiempo que está por venir o suceder</p>
    <p *ngSwitchCase="'fruta'">Producto comestible obtenido de plantas, generalmente dulce y jugoso</p>
    <p *ngSwitchCase="'lápiz'">Instrumento de escritura o dibujo, generalmente cilíndrico y delgado</p>
    <p *ngSwitchCase="'océano'">Extensión grande y continua de agua salada que cubre la mayor parte de la superficie terrestre</p>
    <p *ngSwitchCase="'manzana'">Fruta comestible de forma redonda o ligeramente ovalada, con piel delgada y carne jugosa</p>
    <p *ngSwitchCase="'guitarra'">Instrumento musical de cuerda pulsada, con una caja de resonancia y un mástil</p>
    <p *ngSwitchCase="'auriculares'">Dispositivo para escuchar sonidos, que se coloca en o sobre las orejas</p>
    <p *ngSwitchCase="'isla'">Porción de tierra rodeada completamente por agua</p>
    <p *ngSwitchCase="'pintura'">Sustancia líquida colorida que se aplica para cubrir o decorar superficies</p>
    <p *ngSwitchCase="'teclado'">Dispositivo de entrada que utiliza un conjunto de teclas para enviar datos a una computadora</p>
    <p *ngSwitchCase="'orquídea'">Planta ornamental conocida por sus flores delicadas y coloridas</p>
    <p *ngSwitchCase="'telescopio'">Instrumento óptico que permite observar objetos lejanos ampliando su tamaño aparente</p>
    <p *ngSwitchCase="'helado'">Postre frío hecho generalmente a base de leche, azúcar y saborizantes</p>
    <p *ngSwitchCase="'sátelite'">Objeto que orbita alrededor de un cuerpo celeste, como la Tierra</p>
    <p *ngSwitchCase="'ballet'">Forma de danza artística que se caracteriza por movimientos precisos y elegantes</p>
    <p *ngSwitchCase="'microscopio'">Instrumento óptico que permite ver objetos pequeños no visibles a simple vista</p>
    <p *ngSwitchCase="'huracán'">Fenómeno meteorológico caracterizado por fuertes vientos y lluvias intensas</p>
    <p *ngSwitchCase="'volcán'">Abertura en la corteza terrestre por donde emergen lava, cenizas y gases</p>
    <p *ngSwitchCase="'bosque'">Extensión de terreno poblada principalmente de árboles y otras plantas</p>
    <p *ngSwitchCase="'bicicleta'">Vehículo de dos ruedas propulsado por pedales, generalmente impulsado por el esfuerzo humano</p>
    <p *ngSwitchCase="'teatro'">Edificio o lugar destinado a la representación de obras dramáticas</p>
    <p *ngSwitchCase="'astronomía'">Ciencia que estudia los astros, como planetas, estrellas y galaxias</p>
    <p *ngSwitchCase="'paracaídas'">Dispositivo que, al abrirse y resistir la caída, permite descender suavemente desde cierta altura</p>
    <p *ngSwitchCase="'paleta'">Instrumento de madera o plástico utilizado para mezclar y aplicar pintura</p>
    <p *ngSwitchCase="'rincón'">Ángulo interior formado por dos paredes que se cruzan</p>
    <p *ngSwitchCase="'cachorro'">Cría de un mamífero, especialmente de perro o lobo</p>
    <p *ngSwitchCase="'telescopio'">Instrumento óptico que permite observar objetos lejanos ampliando su tamaño aparente</p>
    <p *ngSwitchCase="'espiral'">Figura que se desarrolla en forma de hélice o caracol</p>
    <p *ngSwitchCase="'microorganismo'">Organismo muy pequeño, visible solo mediante un microscopio</p>
    <p *ngSwitchCase="'teléfono'">Dispositivo de comunicación que permite la transmisión de voz a larga distancia</p>
    <p *ngSwitchCase="'mariposa'">Insecto volador con alas grandes y coloridas</p>
    <p *ngSwitchCase="'diamante'">Gema preciosa y transparente compuesta de carbono cristalizado</p>
    <p *ngSwitchCase="'cosecha'">Recolección de los frutos de la tierra después de su maduración</p>
    <p *ngSwitchCase="'abrazo'">Acción de rodear a alguien con los brazos como muestra de afecto</p>
    <p *ngSwitchCase="'buceo'">Actividad de sumergirse en el agua, generalmente con equipo especial</p>
    <p *ngSwitchCase="'espectro'">Gama completa de colores que se obtiene al descomponer la luz</p>
    <p *ngSwitchCase="'el'">Artículo determinado masculino singular</p>
    <p *ngSwitchCase="'que'">Conjunción utilizada para formular preguntas o hacer afirmaciones</p>
    <p *ngSwitchCase="'y'">Conjunción que une palabras, frases o cláusulas</p>
    <p *ngSwitchCase="'ser'">Verbo que indica la esencia o naturaleza de algo o alguien</p>
    <p *ngSwitchCase="'se'">Pronombre reflexivo o pronombre átono</p>
    <p *ngSwitchCase="'no'">Adverbio de negación</p>
    <p *ngSwitchCase="'por'">Preposición que indica causa, motivo o medio</p>
    <p *ngSwitchCase="'con'">Preposición que denota compañía o instrumento</p>
    <p *ngSwitchCase="'su'">Pronombre posesivo</p>
    <p *ngSwitchCase="'para'">Preposición que indica destino, finalidad o dirección</p>
    <p *ngSwitchCase="'como'">Conjunción que introduce una similitud o comparación</p>
    <p *ngSwitchCase="'ir'">Verbo que indica movimiento o desplazamiento</p>
    <p *ngSwitchCase="'ver'">Verbo que indica la acción de percibir con los ojos</p>
    <p *ngSwitchCase="'sí'">Adverbio de afirmación</p>
    <p *ngSwitchCase="'país'">Nación o territorio con sus instituciones y habitantes</p>
    <p *ngSwitchCase="'día'">Período de tiempo que abarca desde el amanecer hasta el anochecer</p>
    <p *ngSwitchCase="'la'">Artículo determinado femenino singular</p>
    <p *ngSwitchCase="'de'">Preposición que indica posesión o relación</p>
    <p *ngSwitchCase="'que'">Conjunción utilizada para formular preguntas o hacer afirmaciones</p>
    <p *ngSwitchCase="'y'">Conjunción que une palabras, frases o cláusulas</p>
    <p *ngSwitchCase="'a'">Preposición que indica dirección, destino o modo</p>
    <p *ngSwitchCase="'en'">Preposición que indica ubicación o tiempo</p>
    <p *ngSwitchCase="'un'">Artículo indefinido masculino singular</p>
    <p *ngSwitchCase="'ser'">Verbo que indica la esencia o naturaleza de algo o alguien</p>
    <p *ngSwitchCase="'se'">Pronombre reflexivo o pronombre átono</p>
    <p *ngSwitchCase="'no'">Adverbio de negación</p>
    <p *ngSwitchCase="'por'">Preposición que indica causa, motivo o medio</p>
    <p *ngSwitchCase="'con'">Preposición que denota compañía o instrumento</p>
    <p *ngSwitchCase="'su'">Pronombre posesivo</p>
    <p *ngSwitchCase="'para'">Preposición que indica destino, finalidad o dirección</p>
    <p *ngSwitchCase="'como'">Conjunción que introduce una similitud o comparación</p>
    <p *ngSwitchCase="'estar'">Verbo que indica un estado o condición temporal</p>
    <p *ngSwitchCase="'tener'">Verbo que indica posesión o propiedad</p>
    <p *ngSwitchCase="'le'">Pronombre de objeto indirecto</p>
    <p *ngSwitchCase="'lo'">Pronombre de objeto directo o artículo masculino singular</p>
    <p *ngSwitchCase="'más'">Adverbio de cantidad comparativa</p>
    <p *ngSwitchCase="'hacer'">Verbo que indica la acción de realizar algo</p>
    <p *ngSwitchCase="'pero'">Conjunción que indica contraposición o excepción</p>
    <p *ngSwitchCase="'sus'">Pronombre posesivo</p>
    <p *ngSwitchCase="'me'">Pronombre de objeto indirecto</p>
    <p *ngSwitchCase="'si'">Condicional que introduce una condición</p>
    <p *ngSwitchCase="'o'">Conjunción que indica alternativa o elección</p>
    <p *ngSwitchCase="'él'">Pronombre personal masculino singular</p>
    <p *ngSwitchCase="'cuando'">Adverbio que indica el momento en que ocurre algo</p>
    <p *ngSwitchCase="'decir'">Verbo que indica la acción de expresar algo con palabras</p>
    <p *ngSwitchCase="'este'">Pronombre demostrativo masculino singular</p>
    <p *ngSwitchCase="'ya'">Adverbio de tiempo que indica un hecho pasado o futuro cercano</p>
    <p *ngSwitchCase="'porque'">Conjunción que introduce una causa o razón</p>
    <p *ngSwitchCase="'dar'">Verbo que indica la acción de entregar algo a alguien</p>
    <p *ngSwitchCase="'uno'">Número cardinal</p>
    <p *ngSwitchCase="'bien'">Adverbio que indica conformidad o buena condición</p>
    <p *ngSwitchCase="'cada'">Determinante que indica individualidad o distribución</p>
    <p *ngSwitchCase="'mucho'">Adjetivo que indica gran cantidad o intensidad</p>
    <p *ngSwitchCase="'saber'">Verbo que indica poseer conocimiento</p>
    <p *ngSwitchCase="'qué'">Pronombre interrogativo o exclamativo</p>
    <p *ngSwitchCase="'sobre'">Preposición que indica posición encima o acerca de</p>
    <p *ngSwitchCase="'mi'">Pronombre posesivo</p>
    <p *ngSwitchCase="'mismo'">Adjetivo que indica identidad o similitud</p>
    <p *ngSwitchCase="'todo'">Pronombre indefinido o adjetivo que indica la totalidad</p>
    <p *ngSwitchCase="'tiempo'">Duración de los sucesos</p>
    <p *ngSwitchCase="'yo'">Pronombre personal</p>
    <p *ngSwitchCase="'también'">Adverbio que indica inclusión o conformidad</p>
    <p *ngSwitchCase="'hasta'">Preposición que indica límite o punto final</p>
    <p *ngSwitchCase="'año'">Período de tiempo que dura 365 días</p>
    <p *ngSwitchCase="'dos'">Número cardinal</p>
    <p *ngSwitchCase="'querer'">Verbo que indica el deseo de algo o alguien</p>
    <p *ngSwitchCase="'entre'">Preposición que indica relación de varios elementos entre sí</p>
    <p *ngSwitchCase="'así'">Adverbio que indica de esta manera o de la manera mencionada</p>
    <p *ngSwitchCase="'primero'">Adjetivo ordinal que indica el lugar en una secuencia</p>
    <p *ngSwitchCase="'desde'">Preposición que indica el punto de origen</p>
    <p *ngSwitchCase="'grande'">Adjetivo que indica tamaño superior a la media</p>
    <p *ngSwitchCase="'es'">Verbo ser en tercera persona singular</p>
    <p *ngSwitchCase="'ni'">Conjunción que indica negación de dos elementos</p>
    <p *ngSwitchCase="'nos'">Pronombre de objeto directo o indirecto</p>
    <p *ngSwitchCase="'poner'">Verbo que indica la acción de colocar algo en algún lugar</p>

    <p *ngSwitchDefault>Definición no encontrada</p>
  </div>
</div>
<hr class="text-black">
<div>
  <h4>Traducción</h4>
  <div [ngSwitch]="palabra.toLowerCase()">
    <p *ngSwitchCase="'pollo'">Chicken</p>
    <p *ngSwitchCase="'pato'">Duck</p>
    <p *ngSwitchCase="'galleta'">Cookie</p>
    <p *ngSwitchCase="'carro'">Car</p>
    <p *ngSwitchCase="'gato'">Cat</p>
    <p *ngSwitchCase="'mover'">Move</p>
    <p *ngSwitchCase="'circuito'">Circuit</p>
    <p *ngSwitchCase="'libro'">Book</p>
    <p *ngSwitchCase="'montaña'">Mountain</p>
    <p *ngSwitchCase="'televisor'">Television</p>
    <p *ngSwitchCase="'telescopio'">Telescope</p>
    <p *ngSwitchCase="'almohada'">Pillow</p>
    <p *ngSwitchCase="'bicicleta'">Bicycle</p>
    <p *ngSwitchCase="'computadora'">Computer</p>
    <p *ngSwitchCase="'río'">River</p>
    <p *ngSwitchCase="'avión'">Airplane</p>
    <p *ngSwitchCase="'playa'">Beach</p>
    <p *ngSwitchCase="'teléfono'">Phone</p>
    <p *ngSwitchCase="'jardín'">Garden</p>
    <p *ngSwitchCase="'silla'">Chair</p>
    <p *ngSwitchCase="'canción'">Song</p>
    <p *ngSwitchCase="'reloj'">Clock</p>
    <p *ngSwitchCase="'futuro'">Future</p>
    <p *ngSwitchCase="'fruta'">Fruit</p>
    <p *ngSwitchCase="'lápiz'">Pencil</p>
    <p *ngSwitchCase="'océano'">Ocean</p>
    <p *ngSwitchCase="'manzana'">Apple</p>
    <p *ngSwitchCase="'guitarra'">Guitar</p>
    <p *ngSwitchCase="'auriculares'">Headphones</p>
    <p *ngSwitchCase="'isla'">Island</p>
    <p *ngSwitchCase="'pintura'">Painting</p>
    <p *ngSwitchCase="'teclado'">Keyboard</p>
    <p *ngSwitchCase="'orquídea'">Orchid</p>
    <p *ngSwitchCase="'helado'">Ice Cream</p>
    <p *ngSwitchCase="'sátelite'">Satellite</p>
    <p *ngSwitchCase="'ballet'">Ballet</p>
    <p *ngSwitchCase="'microscopio'">Microscope</p>
    <p *ngSwitchCase="'huracán'">Hurricane</p>
    <p *ngSwitchCase="'volcán'">Volcano</p>
    <p *ngSwitchCase="'bosque'">Forest</p>
    <p *ngSwitchCase="'teatro'">Theater</p>
    <p *ngSwitchCase="'astronomía'">Astronomy</p>
    <p *ngSwitchCase="'paracaídas'">Parachute</p>
    <p *ngSwitchCase="'paleta'">Palette</p>
    <p *ngSwitchCase="'rincón'">Corner</p>
    <p *ngSwitchCase="'cachorro'">Puppy</p>
    <p *ngSwitchCase="'espiral'">Spiral</p>
    <p *ngSwitchCase="'microorganismo'">Microorganism</p>
    <p *ngSwitchCase="'mariposa'">Butterfly</p>
    <p *ngSwitchCase="'diamante'">Diamond</p>
    <p *ngSwitchCase="'cosecha'">Harvest</p>
    <p *ngSwitchCase="'abrazo'">Hug</p>
    <p *ngSwitchCase="'buceo'">Diving</p>
    <p *ngSwitchCase="'espectro'">Spectrum</p>
    <p *ngSwitchCase="'el'">The</p>
    <p *ngSwitchCase="'que'">That</p>
    <p *ngSwitchCase="'y'">And</p>
    <p *ngSwitchCase="'ser'">To be</p>
    <p *ngSwitchCase="'se'">Himself / Herself</p>
    <p *ngSwitchCase="'no'">No</p>
    <p *ngSwitchCase="'por'">For</p>
    <p *ngSwitchCase="'con'">With</p>
    <p *ngSwitchCase="'su'">His / Her</p>
    <p *ngSwitchCase="'para'">For</p>
    <p *ngSwitchCase="'como'">As</p>
    <p *ngSwitchCase="'ir'">To go</p>
    <p *ngSwitchCase="'ver'">To see</p>
    <p *ngSwitchCase="'sí'">Yes</p>
    <p *ngSwitchCase="'país'">Country</p>
    <p *ngSwitchCase="'día'">Day</p>
    <p *ngSwitchCase="'la'">The</p>
    <p *ngSwitchCase="'de'">Of</p>
    <p *ngSwitchCase="'cuando'">When</p>
    <p *ngSwitchCase="'decir'">To say</p>
    <p *ngSwitchCase="'este'">This</p>
    <p *ngSwitchCase="'ya'">Already</p>
    <p *ngSwitchCase="'porque'">Because</p>
    <p *ngSwitchCase="'dar'">To give</p>
    <p *ngSwitchCase="'uno'">One</p>
    <p *ngSwitchCase="'bien'">Well</p>
    <p *ngSwitchCase="'cada'">Each</p>
    <p *ngSwitchCase="'mucho'">Much</p>
    <p *ngSwitchCase="'saber'">To know</p>
    <p *ngSwitchCase="'qué'">What</p>
    <p *ngSwitchCase="'sobre'">About</p>
    <p *ngSwitchCase="'mi'">My</p>
    <p *ngSwitchCase="'mismo'">Same</p>
    <p *ngSwitchCase="'todo'">Everything, All</p>
    <p *ngSwitchCase="'tiempo'">Time</p>
    <p *ngSwitchCase="'yo'">I</p>
    <p *ngSwitchCase="'también'">Also</p>
    <p *ngSwitchCase="'hasta'">Until</p>
    <p *ngSwitchCase="'año'">Year</p>
    <p *ngSwitchCase="'dos'">Two</p>
    <p *ngSwitchCase="'querer'">To want</p>
    <p *ngSwitchCase="'entre'">Between</p>
    <p *ngSwitchCase="'así'">Like this</p>
    <p *ngSwitchCase="'primero'">First</p>
    <p *ngSwitchCase="'desde'">From, Since</p>
    <p *ngSwitchCase="'grande'">Big, Large</p>
    <p *ngSwitchCase="'es'">Is</p>
    <p *ngSwitchCase="'ni'">Nor</p>
    <p *ngSwitchCase="'nos'">Us</p>
    <p *ngSwitchCase="'poner'">To put</p>

    <p *ngSwitchDefault>Traducción no encontrada</p>
  </div>
</div>
